body {
  background-color: #8b0000 
}

.App {
  background-color: #ffd700;
  min-height: 900px;
  width: 600px;
  margin: 1px auto;
}

#to-do-form input {
  background:  rgb(184,134,11);
  border: 0;
  width: 400px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fffff0;
}

#to-do-form input::placeholder {
  color: rgba(255,255,255,0.5);
}

#to-do-form input:focus,#to-do-form button:focus {
  outline: none;
}

#to-do-form button {
  background-color: rgb(46, 139, 87);
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  cursor: default;
  font-weight: bolder;
  color: #fffff0;
}
