.list {
    color: #fff;
    width: 550px;
    background-color: #f04000; 
    height: 60px;
    margin: 30px auto;
    border-radius: 6px;
}

.list p {
    padding: 10px;
    position: relative;
}

.list p span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons {
    margin: 0 5px;
    font-size: 15px;
}

.list p input {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.list p :focus{
    outline: none;
}
